replicaCount: 1

image:
  repository: mcr.microsoft.com/mssql/server
  tag: 2019-latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 1433


resources: 
  limits:
    cpu: 2
    memory: 4096M
  requests:
    cpu: 0.5
    memory: 4096M

nodeSelector: {}

tolerations: []

affinity: {}
